body {
    background-color: rgb(23, 24, 28) !important;
}

.jumbotron {
    background-color: rgb(27, 29, 34) !important;
}

.jumbotron h1,h2,h3,h4,h5,h6,b,p {
    color: rgba(255, 255, 255, 0.8) !important;
}

.col-md-12 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.jumbotron .btn {
    background-color: #154854 !important;
}

.list-group li {
    background-color: rgb(33, 35, 40) !important;
}
