$primaryColor: rgb(20,54,67);

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, b, strong, .bold {
  font-weight: 600;
}

.jumbotron .btn {
  margin-bottom: 5px;
}

.btn {
  color: white !important;
}

.btn-prim {
  background-color: $primaryColor;
  color: white;
}

.btn-prim:hover {
  background-color: $primaryColor;
  color: white;
}

.darkToggle:hover {
  background-color: white;
  color: $primaryColor !important;
}

.darkToggle {
  background-color: $primaryColor;
  color: white;
  border: 1px solid white;
}

.navbar {
  border-radius: 0;
}

.gallery-img {
  width: 90%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 90%;
}

.social-icon {
  height: 32px;
}

.navbar {
  background-color: $primaryColor !important;
  border: 0px !important;
}

.navbar .active a {
  background-color:  rgb(6,32,47) !important;
}
