body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, b, strong, .bold {
  font-weight: 600;
}

.jumbotron .btn {
  margin-bottom: 5px;
}

.btn-green {
  background-color: #5cb85c;
  color: white;
}

.btn-green:hover {
  background-color: #57ab56;
  color: white;
}

.gallery-img {
  width: 90%;
}