$primaryColor: #154854;
$darkColor: rgb(20,54,67);

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, b, strong, .bold {
  font-weight: 600;
}

.jumbotron .btn {
  margin-bottom: 5px;
}

.btn {
  color: white !important;
}

.btn-prim {
  background-color: $primaryColor;
  color: white;
}

.btn-prim:hover {
  background-color: $primaryColor;
  color: white;
}

.darkToggle:hover {
  background-color: white;
  color: $primaryColor !important;
}

.darkToggle {
  background-color: $primaryColor;
  color: white;
  border: 1px solid white;
}

.navbar {
  border-radius: 0;
}

.gallery-img {
  width: 90%;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 90%;
}

.social-icon {
  height: 32px;
}

.navbar {
  background-color: $primaryColor !important;
  border: 0px !important;
}

.navbar .active a {
  background-color:  $darkColor !important;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-hover-black:hover {
  color: black;
}


#askdialog {
  padding: 15px;
  background-color: $primaryColor;
  width: 250px;
  border-radius: 12px;
  color: white;
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -125px;

  .button-container {
    .button {
      border: 1px solid white;
      border-radius: 5px;
      width: 80%;
      margin: auto;
      padding: 8px;
      margin-top: 5px;
      cursor: pointer;
    }


    .button:hover {
      color: $primaryColor;
      background-color: white;
    }
  }
}
